* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    font-family: sans-seif;
}

header,
main,
footer {
    width: 100%;
    padding: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #111e90ff;
}

header p {
    color: white;
}

main {
    background-color: orange;
}

footer {
    background-color: limegreen;
}